{% assign lang = site.locale | slice: 0,2 | default: "en" %}
{% case lang %}
{% when "gr" %}
  {% assign lang = "gr" %}
{% else %}
  {% assign lang = "en" %}
{% endcase %}
<script>
  let jsFilesLoaded = false;
  const lunr_button = document.querySelector('.search__toggle');

  lunr_button.addEventListener('click', () => {
    if (!jsFilesLoaded) {
      const inputElement = document.querySelector('.search-input');
      inputElement.placeholder = 'Wait a minute ...'; 
      // 加载第一个JS文件
      const script1 = document.createElement('script');
      script1.src = "{{ '/assets/js/lunr/lunr-store.js' | relative_url }}";
      document.body.appendChild(script1);

      // 监听第一个JS文件加载完成
      script1.onload = () => {
        const script2 = document.createElement('script');
        script2.src = "{{ '/assets/js/lunr/lunr.min.js' | relative_url }}";
        document.body.appendChild(script2);
        script2.onload = () => {
          const script3 = document.createElement('script');
          script3.src = "{{ '/assets/js/lunr/lunr-' | append: lang | append: '.js' | relative_url }}";
          document.body.appendChild(script3);
	};
      };
      inputElement.placeholder = 'You can search now !';
      jsFilesLoaded = true;
    }
  });
</script>
